nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="/login") Menu 
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" arial-expanded="false" arial-label="toggle-navigation")
        span(class="navbar-toggler-icon")      
    div(class="collapse navbar-collapse" id="navbarSupportedContent")    
        ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
            li(class="nav-item active")
                a(class="nav-link active" href="/login") LOGIN 
                    span(class="sr-only") (current)    
            li(class="nav-item active")
                a(class="nav-link" href="/signup") SIGNUP
                    span(class="sr-only") (current)