html 
    include includes/head.pug 
    body 
        include includes/menu.pug
        div(class="container")
            div(class="row")
                div(class="alert alert-light" role="alert")
                if(user)
                    h2(class="display-4") Please Login #{user}
                else  
                    h2(class="display-4") Please Login 
            form(action="/login" method="POST")
                div(class="form-row align-items-center")
                    div(class="col-auto")
                        label(class="sr-only" for="userid") Username 
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") User 
                            if(user)
                                input(id="userid" name="userid" type="text" class="form-control" require placeholder="user ID" value=user)
                            else 
                                input(id="userid" name="userid" type="text" class="form-control" require placeholder="user ID")
                    div(class="col-auto")
                        label(class="sr-only" for="password") Password 
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") Password
                            input(id="password" name="password" type="password" class="form-control" require placeholder="password")
                    div(class="col-auto")
                        div(class="form-check mb-2")
                            input(class="form-check-input" type="checkbox" id="remember" name="remember" value="1")
                            label(class="form-check-label" for="remember") Remember
                    div(class="col-auto")
                        button(type="submit" class="btn btn-primary mb-2") Submit 
            include includes/message.pug