html 
    include includes/head.pug
    head 
        title Protected Page
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(type="text/javascript").
            $(document).ready(function(){
                //alert("Hi");
            $.ajax({
                method: "GET",
                url: "/token",
                })
                .done((token)=>{window.localStorage.setItem("jwtoken", token);/*alert(token);*/})
                .fail((err) => {console.log(err);});
                });
            function logOut(){
                window.localStorage.clear("jwtoken");
                document.location.href ='/logout';
            }
    body 
        div(class="container")
            p You have visited this page #{views} times
            button(type="submit" class="btn btn-primary" onclick="document.location.href='/protected_page'") Reload
            hr
            p Do you want to log out ?
            button(type="submit" id="btnLogOut" class="btn btn-primary" onclick="logOut()") Vai Mona!
            div(class="jumbotron")
                h1(class="display-4") Load Data 
                button(id="btnAvvia" class="btn btn-primary" onclick="request_JSON()") Load Data 
                hr
                input(type="text" id="file" value="auto" class="input mb-2")
                hr(class="my-4")
                div(id="data" class="p-3 mb-5 bg-white rounded shadow-2-strong")